* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  background: url('group.jpeg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

.buttons .btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn.secondary {
  background: transparent;
  border: 1px solid white;
}

/* TRUST */
.trust {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #f1f8e9;
  font-weight: bold;
}

/* PRODUCTS */
.products {
  padding: 40px;
  text-align: center;
}

.product-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* HOW */
.how {
  background: #e8f5e9;
  padding: 40px;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* CONSULTATION */
.consultation {
  padding: 50px 20px;
  text-align: center;
  background: #f9fff6;
}

.consult-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.consult-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  background: white;
}

/* CUSTOMERS */
.customers {
  padding: 40px;
  text-align: center;
}

.customer-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 250px;
}

/* WHY */
.why {
  padding: 40px;
  text-align: center;
}
.why li {text-decoration: none; list-style: none;}

/* CTA */
.cta {
  background: #2e7d32;
  color: white;
  text-align: center;
  padding: 40px;
}

.cta button, .consultation button {
  margin-top: 15px;
  padding: 15px 25px;
  border: none;
  background: white;
  color: #2e7d32;
  font-size: 16px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1b5e20;
  color: white;
}

/* MOBILE */
@media(max-width: 768px) {
  .product-grid, .steps, .trust, .customer-grid, .consult-grid {
    flex-direction: column;
    align-items: center;
  }
}
